<app-menu-section></app-menu-section>
<div id="main">
  <!-- login area start -->
  <div class="login-register-area mb-60px mt-53px">
      <div class="container">
          <div class="row">
              <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                  <div class="login-register-wrapper">
                      <div class="login-register-tab-list nav">
                          <a class="active" data-toggle="tab">
                              <h4 >Forget Password</h4>
                          </a>
                        </div>
                        <div class="container padding-bottom-3x mb-2 mt-5">
                          <div class="row justify-content-center">
                              <div class="col-lg-8 col-md-10">
                                  <form class="card mt-4" [formGroup]="forgetPassword" (ngSubmit)="onSubmit($event)">
                                      <div class="card-body">
                                          <div class="form-group">
                                             <label class="sr-only"  for="userEmail">Enter User email address</label>
                                             <input class="form-control" formControlName="userEmail" type="text" id="email-for-pass" required="">
                                             <small class="form-text text-muted">Enter the email address </small>
                                             </div>
                                      </div>
                                      <div class="card-footer">
                                         <button class="btn btn-success" type="submit">Get New Password</button>
                                        <button class="btn btn-danger back" (click)="backToLoin()">Back to Login</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<app-footer></app-footer>
