   <!-- Category Area Start -->
   <section class="categorie-area categorie-area-2 ptb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Section Title -->
                <div class="section-title mt-res-sx-30px mt-res-md-30px underline-shape">
                    <h2>Popular Categories</h2>
                    <p>Add Popular Categories to weekly line up</p>
                </div>
                <!-- Section Title -->
            </div>
        </div>
        <!-- Category Slider Start -->
        <div class="category-slider-2 owl-carousel owl-nav-style-3">
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/furniture/1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Home Furniture</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/furniture/2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Office Furniture</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/furniture/3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Outdoor Furniture</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/furniture/4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Indoor Lighting</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/furniture/5.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Wall Clocks</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/furniture/6.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Kitchen</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
        </div>
    </div>
</section>
<!-- Category Area End  -->
<div class="clearfix"><br><br></div>
<app-bannertype2></app-bannertype2>